.place_web-site_link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.place_web-site_link:hover {
    opacity: .8;
}