.links_place_header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
}

.links_place_header:hover {
    opacity: .8;
}