.place__website {
    color: #FFFFFF;
    list-style: none;
    grid-area: website;
    margin: 0px;
    padding-left: 0px;
    align-self: flex-end;
}

@media screen and (max-width: 568px) {
    .place__website {
        margin: 0px 16px 30px 16px;
    }
}

@media screen and (max-width: 568px) {
    .place__website {
        margin: 0px 16px 30px 16px;
    }
}